header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100vw;
    border-bottom: 1px solid #C6C5CE;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.nave-header{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
}

.anchor-header{
    display: flex;
    align-items: center;
    height: 100%;
}

.anchor-nave-header{
    color: var(--gray-300);
    font-weight: 300;
}

.button-login{
    width: 76px;
    height: 32px;
    background: var(--color-one);
    border-radius: 30px;
    font-weight: 600;
    font-size: var(--p-size);
    color: var(--color-white);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.button-login:hover{
    background: transparent;
    border: 2.5px solid var(--color-one);
    color: var(--color-one);
}



.icon-mobile { 
    display: none; 
} 

.menuMobileExpandidon { 
    display: none; 
}

.containerNav{
    width: 1300px
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.menuGrande{
    display: flex;
    align-items: center;
    gap: 40px;
}

@media screen and (max-width: 1300px) {
    .containerNav {
        display: flex;
        align-items: center;
        justify-content: center; 
    }
    .containerNav .menu {        
        justify-content: space-between; 
        width: 800px;
        align-items: center;
        
    }
    .containerNav .menu .menuGrande {
        display: none; 
    }
    .containerNav .menu .menuMobile a { 
        display: flex; 
    } 
    
}

@media screen and (max-width: 940px) {
    header{
        height: auto;
        border: none;
        margin-top: 16px;
    }
    .containerNav .menuMobileExpandidos { 
        display: flex; 
        flex-direction: column;
    }
    .containerNav .menu {        
        justify-content: space-between; 
        width: 350px;
        align-items: center;
        
    }
    .containerNav{
        flex-direction: column;
        gap: 8px;
    }
    .container{
        width: 500px;
        margin: 0 16px;
    }
    .logo-header{
        margin-left: 8px;
    }
    .menuMobileExpandidon{
        gap: 16px;
    }
}


