#sobre{
    display: flex;
    justify-content: center;
    height: 100% !important;
    width: 100%;
}

.sobre{
    display: flex;
    flex-direction: column; 
}

.row-sobre{
    display: flex;
    align-items: center;
    gap: 100px;
    width: 100%;
    justify-content: center;
    margin-top: 32px;
}

.img-sobre{
    width: 500px;
}
.title-sobre{
    color: var(--gray-200);
}
.texts-sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:40px;
    justify-content: center;
    width: 552px;
}

.text-sobre{
    display: inline-block;
    font-weight: 300;
    color: var(--gray-300);
}

.verde{
    color: var(--color-one);
    font-weight: 500;
}
.azul{
    color: var(--color-two);
    font-weight: 500;
}

@media screen and (max-width: 1300px) {
    .container{
        width: 900px;
    }

    #sobre{
        margin-top: 32px;
    }
    .img-sobre{
        display:none;
    }
    .row-sobre{
        margin-bottom: 32px;
    }
}
@media screen and (max-width: 1000px) {


}
@media screen and (max-width: 600px) {
    .elipse{
        width: 100%;
    }
    .title-home{
        margin-top: -32px;
    }
    #sobre{
        width: 400px;
    }
    .texts-sobre{
        width: 100%;
        margin: 0 16px;
    }
    .row-sobre{
        margin-bottom: 32px;
    }

}