@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body{
    width: 97vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    width: 1300px;
    font-size: 16px;
}

@media screen and (max-width: 1300px) {
    .container{
        width: 900px;
        font-size: 58%;
    }

}
@media screen and (max-width: 1000px) {
    .container{
        width: 500px;
    }

}
@media screen and (max-width: 600px) {
    .container{
        width: 300px;
    }

}